html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   font-weight: bolder;
   font-size: 45px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#name {
    padding: 20px;
    background-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
}


#image {
    height: 20em;
    border-style: solid;
    
}

.type {
    font-weight: bold;
}

#cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b {
    padding-left: 50px;
    padding-right: 50px; 
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#arrowl {
    font-size: 30px;
}

#arrowr {
    font-size: 30px;
}

.info-moves-box {
    background-color: lightgrey;
    height: 300px;
    width: 200px;
    padding: 20px;
}

#i {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
}

#m {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
}

.imgname {
    align-items: center;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}